body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.sidebar > button {
    border: 2px solid black;
    font-size: 18px;
    padding: 10px 0;
    width: 160px;
}
.filler {
    width: 200px;
}
.square-container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

/*Individual Squares*/
.square {
    padding: 0;
    margin: 0;
    outline: 1px solid rgba(78, 73, 73, 0.705);
    background-color: white;
}