body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 200px;
    height: 300px;
    border: 1px solid red;
}
.filler {
    width: 200px;
}
.square-container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

/*Individual Squares*/
.square {
    outline: 1px solid black;

}